h1{
    font-size: 100px;
    font-family: washington;
    font-variant:normal;
    color: black;
    background: #DCD7C9;
}
.center{
        margin: auto;
        text-align: center;
}
div.t1{
    margin-top: 100px;
    font-family: LGC;
    font-variant: normal;
    font-size: 20px;
    color: #DCD7C9;
}
div.center.box{
    margin-top: 20px;
    font-family: LGC;
    font-size: 20px;
    color: #DCD7C9;
}
div.box2{
    font-family: LGC;
    font-size: 20px;
    color: #DCD7C9;
}
input{
    text-align: center;
}
button{
    font-family: LGCB;
    width: 70px;
    margin-top: 15px;
    height: 30px;
    font-size: 16px;
    background-color: black;
    color: white;
}
*{
    margin: 0px;
    background: linear-gradient(90deg, #2C3930, #3F4F44);
}
@font-face {
    font-family: "Washington";
    src: url(fonts/Washington.ttf);
}
@font-face {
    font-family: "Oakside";
    src: url(fonts/Oakside.ttf);
}
@font-face {
    font-family: "LGC";
    src: url(fonts/Louis\ George\ Cafe.ttf);
}
@font-face {
    font-family: "LGCL";
    src: url(fonts/Louis\ George\ Cafe\ Light.ttf);
}
@font-face {
    font-family: "LGCB";
    src: url(fonts/Louis\ George\ Cafe\ Bold.ttf);
}